$main-bg-color: #ccc;
$main-font-color: #666;
$small-font-size: 1rem;
$big-font-size: 1.3rem;
$very-big-font-size: 2rem;
$btn-bg-color: #6666663f;


$small-smartphone: 320px;
$smartphone: 375px;
$large-smartphone: 535px;
$tablet: 855px;
$small-desktop: 1024px;
$desktop: 1440px;
$large-desktop: 1700px;


$breakepoints: (
    $small-smartphone: 320px,
    $smartphone: 375px,
    $large-smartphone: 535px,
    $tablet: 855px,
    $small-desktop: 1024px,
    $desktop: 1440px,
    $large-desktop: 1700px,
);

@mixin buttonContainer {
    &__button-container {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 20%;
        @media screen and (min-width: map-get($breakepoints, $smartphone)) {
            height: 15%;
        }
        @media (orientation: landscape) and (min-width: map-get($breakepoints, $small-smartphone)) and (max-width: map-get($breakepoints, $tablet)) {
            height: 20%;
        }
        @media (orientation: landscape) and (min-width: map-get($breakepoints, $small-smartphone)) and (max-width: 920px) {
            height: 20%;
        }
    }
}
@mixin buttonA {
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 35%;
        @media screen and (min-width: map-get($breakepoints, $smartphone)) {
            height: 60%;
            width: 45%;
        }
        @media screen and (min-width: map-get($breakepoints, $large-smartphone)) {
            width: 25%;
        }
        @media screen and (min-width: map-get($breakepoints, $small-desktop)) {
            width: 15%;
        }
        @media (orientation: landscape) and (min-width: map-get($breakepoints, $small-smartphone)) and (max-width: map-get($breakepoints, $tablet)) {
            height: 100%;
        }
    }
}
@mixin button {
    &__btn {
        background-color: $btn-bg-color;
        font-weight: bold;
        font-size: $small-font-size;
        width: 100%;
        height: 100%;
    }
}