
.footer {
    background-color: #000;
    width: 100vw;
    * {
        color: #fff;
    }

    &__wrapper {
        margin: 0 auto;
        width: 90%;
    }
    &__contant-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-bottom: 1px solid #fff;
        @media screen and (min-width: map-get($breakepoints, $tablet)) {
            flex-direction: row;
            justify-content: space-between;
        }
        @media (orientation: landscape) and (min-width: map-get($breakepoints, $small-smartphone)) and (max-width: map-get($breakepoints, $tablet)) {
            flex-direction: row;
            justify-content: space-between;
            padding: 10vh 0;
        }
    }
    &__author-description {
        padding: 4vh 0px;
        height: 45%;
        @media screen and (min-width: map-get($breakepoints, $tablet)) {
            width: 50%;
        } 
        @media (orientation: landscape) and (min-width: map-get($breakepoints, $small-smartphone)) and (max-width: map-get($breakepoints, $tablet)) {
            width: 50%;
        }
        &__content {
            @media (orientation: landscape) and (min-width: map-get($breakepoints, $small-smartphone)) and (max-width: map-get($breakepoints, $tablet)) {
                line-height: 6.5vh;
            }
        }
    }
    &__icon-container {
        padding-top: 4vh;
        order: -1;
        height: 45%;
        @media screen and (min-width: map-get($breakepoints, $tablet)) {
            order: 0;
        }
        @media (orientation: landscape) and (min-width: map-get($breakepoints, $small-smartphone)) and (max-width: map-get($breakepoints, $tablet)) {
            order: 0;
        }
        &__github {
            height: 20%;
            display: inline-block;
        }
        &__youtube {
            height: 20%;
            display: inline-block;
        }
    }
    &__copyright {
        height: 10%;
        padding-top: 1vh;
        text-align: center;
        padding: 10vh 0;
        &__content {
            font-size: .8rem;
        }
        @media screen and (min-width: 1700px) {
            padding: 5vh 0;
        }
    }
}

.footer-icon__yt {
    width: 30%;
    height: 30%;
}

.footer-icon__gh {
    width: 100%;
    height: 100%;
}