@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Source+Code+Pro:wght@300&display=swap');
*,
 ::after,
 ::before {
    color: #fff;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Source Code Pro', monospace;
    line-height: 3.5vh;
}

body {
    background-color: rgb(22, 22, 53);
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

#header {
    width: 97vw;
    height: 16vh;
    overflow: hidden;
    background: rgb(22, 22, 53);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgb(22, 22, 53);
}

#contentMain2 {
    margin-top: 20vh;
}

main {
    width: 100vw;
    height: 100vh;
}

.sticky+main {
    padding-top: 40vh;
}

#logoD {
    position: absolute;
    top: 3vh;
    left: 1vw;
    display: flex;
    align-items: center;
    width: 20vw;
    height: 5vh;
}

#logo {
    margin: auto;
    width: 5vw;
    height: 5vh;
}


.mainNav,
.big {
    text-align: center;
    display: inline-block;
    width: 5.5vw;
    height: 3vh;
    transition: all 0.7s;
}

.mainNav:hover,
.big:hover {
    border: 1px solid #000;
    width: 5.6vw;
    height: 3.1vh;
    cursor: pointer;
}

aside {
    float: left;
    height: 35vh;
    width: 7vw;
}

#social {
    width: 5vw;
    height: 20vh;
}

.logoSocial {
    margin-bottom: 5px;
    width: 5vw;
    height: 5vh;
}

.logoSocial:hover {
    cursor: pointer;
    width: 5.3vw;
    height: 5.3vh;
}

#contentMain {
    float: left;
    width: 85vw;
    height: 50vh;
}

#content {
    width: 75vw;
    height: 35vh;
    margin: auto;
}

#hOne {
    text-align: center;
    width: 100%;
    height: 33%;
    margin-bottom: 5vh;
}

#hThree {
    margin: auto;
    width: 70%;
    height: 33%;
}

#change {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 33%;
}

button {
    font-weight: bold;
    font-size: x-large;
    width: 10vw;
    height: 5vh;
    color: #000;
}

#button1 {
    font-weight: bold;
    font-size: x-large;
    width: 15vw;
    height: 8vh;
    color: #000;
}

a {
    text-decoration: none;
}

button:hover {
    animation: buttonUp 1s;
}

@keyframes buttonUp {
    from {
        transform: translateY()
    }
    to {
        transform: translateY(-1.1vh)
    }
}

#aboutHr {
    position: absolute;
    left: 45vw;
    width: 120px;
    height: 5px;
    background: #fff;
    border: none;
}

#aboutBlock {
    text-align: center;
    width: 95vw;
    height: 29vh;
}

#aboutMain {
    width: 100vw;
    height: 95vh;
    margin-top: 60vh;
}

#info,
#skils {
    float: left;
    width: 30%;
    height: 100%;
}

#ytSpan {
    color: red;
}

#info {
    margin-left: 5vw;
    margin-right: 12vw;
}

#information {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
}

#skils_icon {
    display: flex;
    flex-wrap: wrap;
}

.skills__skill {
    cursor: pointer;
    width: 9vw;
    height: 7vh;
    padding: 1rem 2rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1.3rem;
    background: rgba(153, 153, 153, .1);
    border-radius: 5px;
    font-weight: 600;
    color: #666;
    text-align: center;
}

#projectsMain {
    width: 100vw;
    height: 95vh;
    margin-top: 20vh;
}

#infoProjects {
    width: 100vw;
    height: 30vh;
    text-align: center;
}

#projects_container {
    width: 100vw;
    height: 100vh;
}

#projectsHr {
    position: absolute;
    left: 47vw;
    width: 120px;
    height: 5px;
    background: #fff;
    border: none;
}

#projects_imgOne {
    float: left;
    margin-top: 10vh;
    width: 40vw;
    height: 50vh;
}

#projectsContentOne,
#projectsContentTwo,
#projectsContentThree {
    margin-left: 5vw;
    float: left;
    margin-top: 26vh;
    width: 30vw;
    height: 30vh;
    text-align: left;
}

#projects_imgTwo {
    clear: both;
    float: left;
    margin-top: 10vh;
    width: 40vw;
    height: 50vh;
}

#projects_imgThree {
    clear: both;
    float: left;
    margin-top: 10vh;
    width: 40vw;
    height: 50vh;
}


/*Project One*/

#photoDes {
    width: 100vw;
    height: 100vh;
}

#description {
    height: 30vh;
    width: 50vw;
    margin: auto;
}

#img {
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tool {
    height: 40vh;
    width: 52vw;
    margin: auto;
}

.skill {
    float: left;
    cursor: pointer;
    width: 9vw;
    height: 7vh;
    padding: 1rem 2rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1.3rem;
    background: rgba(153, 153, 153, .1);
    border-radius: 5px;
    font-weight: 600;
    color: #666;
    text-align: center;
}

#skills {
    width: 50vw;
    height: 20vh;
}

#see {
    height: 20vh;
    width: 50vw;
    margin: auto;
}

#back {
    margin-left: 2vw;
    background: none;
}


/*Contact*/

#contact_main {
    width: 100vw;
    height: 30vh;
    margin-top: 150vh;
}

.contact__form-container {
    box-shadow: rgb(100 100 111 / 20%) 0 7px 29px 0;
    padding: 4rem;
    margin-top: 6rem;
    max-width: 80rem;
    text-align: right;
    width: 40%;
    border-radius: 5px;
    margin: 5rem auto 0 auto;
}

.contact__form-field {
    margin-bottom: 4rem;
}

.contact__form-label {
    color: #fff;
    font-size: 1.4rem;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 1rem;
    display: block;
    text-align: left;
}

.contact__form-input {
    color: #000;
    padding: 2rem;
    width: 100%;
    height: 2vh;
    border: 1px solid #ebebeb;
    font-size: 1.6rem;
    letter-spacing: 0;
    border-radius: 5px;
    font-weight: 600;
}

#message {
    height: 15vh;
}


/*Footer*/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150vh;
    width: 100vw;
    height: 30vh;
    background-color: #000;
}

#footer_main {
    margin: auto;
    width: 70vw;
    height: 20vh;
    border-bottom: 2px solid #fff;
}

#nameF {
    float: left;
    width: 30vw;
    height: 20vh;
}

#socialF {
    position: relative;
    float: left;
    width: 40vw;
    height: 20vh;
}

#git_f,
#yt_f {
    float: right;
    width: 2.5vw;
    height: 5vh;
}

#git_f:hover {
    width: 2.7vw;
    height: 5.2vh;
}

#yt_f:hover {
    width: 2.7vw;
    height: 5.2vh;
}

#footerMain {
    margin-top: 510vh;
}

@media only screen and (min-width: 375px) {
    #logoD {
        position: absolute;
        top: 5vh;
        width: 67vw;
        height: 15vh;
    }
    #name {
        margin-left: 5vw;
    }
    .mainNav {
        display: block;
        width: 15vw;
        height: 3vh;
    }
    .mainNav:hover {
        width: 15.2vw;
    }
    .big {
        display: block;
        width: 20vw;
    }
    .big:hover {
        width: 25.2vw;
    }
    .sticky {
        position: fixed;
        top: 0;
        width: 100vw;
    }
    main {
        width: 100vw;
        height: 100vh;
    }
    .sticky+main {
        padding-top: 30vh;
    }
    /*1 section*/
    #logo {
        width: 15vw;
        height: 15vh;
    }
    .logoSocial {
        display: none;
    }
    #oneH1 {
        line-height: 5.4vh;
    }
    #hOne {
        height: 50%;
    }
    #hThree {
        width: 90%;
        height: 35vh;
    }
    #hThree > h3 {
        line-height: 4vh;
    }
    #change {
        width: 70vw;
    }
    #button1 {
        width: 50vw;
        margin-top: 40vh;
    }
    /*2 section*/
    #aboutMain {
        margin-top: 90vh;
    }
    #aboutBlock {
        height: 40vh;
    }
    #aboutHr {
        left: 30vw;
    }
    #information {
        height: 110vh;
        display: block;
    }
    #info {
        width: 90vw;
        height: 100%;
        float: none;
        margin-right: 2vw;
    }
    #info p {
        margin: 0;
        word-wrap: break-word;
    }
    #skils {
        position: absolute;
        left: 10vw;
        float: none;
        display: block;
        width: 90vw;
        height: 80vh;
    }
    .skills__skill {
        width: 30vw;
        height: 4vh;
        font-size: 15px;
        margin: 12px;
        margin-right: 20px;
        padding: 0;
    }
    #b2 {
        width: 70vw;
    }
    /*3 section*/
    #projectsMain {
        margin-top: 120vh;
    }
    /*Project 1*/
    #projects_imgOne {
        float: none;
        margin-left: 55vw;
    }
    .imgP {
        float: none;
        width: 90vw;
        height: 90vw;
    }
    #projectsContentOne {
        float: none;
    }
    #projectsHr {
        left: 30vw;
    }
    #projectsContentOne {
        margin-top: -10vh;
        margin-left: 15vw;
        width: 70vw;
        height: 60vh;
    }
    .bp1 {
        width: 50vw;
    }
    /*Project 2*/
    #projects_imgTwo {
        float: none;
        margin-left: 55vw;
    }
    .imgP {
        float: none;
        width: 90vw;
        height: 90vw;
    }
    #projectsContentTwo {
        float: none;
    }
    #projectsHr {
        left: 30vw;
    }
    #projectsContentTwo {
        margin-top: -10vh;
        margin-left: 15vw;
        width: 70vw;
        height: 60vh;
    }
    .bp1 {
        width: 50vw;
    }
    /*Project 3*/
    #projects_imgThree {
        float: none;
        margin-left: 55vw;
    }
    .imgP {
        float: none;
        width: 90vw;
        height: 90vw;
    }
    #projectsContentThree {
        float: none;
    }
    #projectsHr {
        left: 30vw;
    }
    #projectsContentThree {
        margin-top: -10vh;
        margin-left: 15vw;
        width: 70vw;
        height: 60vh;
    }
    .bp1 {
        width: 50vw;
    }
    /*Form*/
    #contact_main {
        margin-top: 280vh;
    }
    #infoProjects {
        width: 90vw;
        margin-left: 5vw;
    }
    .contact__form {
        width: 100vw;
        height: 70vh;
        text-align: left;
        float: left;
        float: left;
    }
    .contact__form-container {
        width: 80vw;
        height: 90vh;
        padding: 2rem;
    }
    .contact__form-field {
        width: 60vw;
    }
    .contact__form-input {
        width: 60vw;
        height: 4vh;
        font-size: 13px;
    }
    #Sub {
        width: 40vw;
    }
    /*Footer*/
    #footerMain {
        margin-top: 770vh;
        height: 60vh;
    }
    #footer_main {
        height: 35vh;
    }
    #nameF,
    #socialF {
        float: none;
    }
    #nameF {
        margin-top: 7vh;
        width: 80vw;
        height: 30vh;
    }
    #socialF {
        margin-top: 2vh;
        margin-left: 10vw;
        bottom: 20vh;
        height: 10vh;
    }
    #git_f,
    #yt_f {
        width: 10vw;
        height: 7vh;
    }
    #git_f:hover {
        width: 10.5vw;
        height: 7.5vh;
    }
    #yt_f:hover {
        width: 10.5vw;
        height: 7.5vh;
    }
    .contact__form {
        width: 90vw;
        height: 70vh;
        text-align: left;
    } 
    .lines {
        background: #000;
        width: 10vw;
        margin-bottom: 1vh;
        height: 0.5vh;
    }
    #projectsContentOne {
        margin-top: -4vh;
    }
    #projectsContentTwo {
        margin-top: -4vh;
    }
    #projectsContentThree {
        margin-top: -4vh;
    }
    #projectsHr {
        left: 33vw;
    }
    /*Form*/
    .contact__form {
        width: 90vw;
        height: 70vh;
        text-align: left;
    }
    .contact__form-field {
        width: 60vw;
    }
    .contact__form-input {
        width: 55vw;
        font-size: 15px;
    }
    h1 {
        font-size: 40px;
        line-height: 6vh;
    }
    #photoDes {
        margin-top: 50vh;
    }
    #button1 {
        width: 60vw;
    }
    #imgD {
        border-radius: 20px;
        height: 50vh;
        width: 90vw;
    }
    #description {
        height: 50vh;
        width: 90vw;
    }
    #tool {
        height: 60vh;
        width: 70vw;
    }
    .skill {
        text-align: center;
        width: 35vw;
        font-size: 17px;
    }
    #skills {
        width: 90vw;
        height: 70vh;
    }
    #see {
        width: 70vw;
    }
    #seeP {
        width: 50vw;
    }
    #back {
        margin-top: 30px;
        margin-left: 0;
        width: 50vw;
    }
    footer {
        margin-top: 230vh;
        width: 100vw;
        height: 60vh;
    }
    #nameF {
        position: relative;
        left: 5vw;
        border-bottom: 3px solid #fff;
    }
    #footer_main {
        width: 100%;
        height: 100%;
        border: none;
    }
}

@media only screen and (min-width: 768px) {
    #logo {
        width: 10vw;
        height: 10vh;
    }
    .lines {
        width: 6vw;
    }
    #imgD {
        width: 60vw;
    }
    #button1 {
        width: 40vw;
    }
    #seeP {
        width: 20vw;
    }
    #back {
        width: 20vw;
    }
}

@media only screen and (min-width: 1024px) {
    #home, #about, #projects, #contact {
        display: inline-block;
        margin-right: 1vw;
    }
    #button1 {
        position: relative;
        bottom: 30vh;
    }
    #footer_main {
        height: 27vh;
    }
    #footerMain {
        margin-top: 750vh;
    }
    #nameF {
        margin-top: 0;
        height: 25vh;
        width: 40vw;
    }
    #socialF {
        left: 40vw;
        height: 15vh;
        width: 30vw;
    }
}

@media only screen and (min-width: 1440px) {
    #name {
        font-size: 23px;
    }
    #home, #about, #projects, #contact {
        font-size: 20px;
    }
    #hThree > h3 {
        font-size: 25px;
        line-height: 6vh;
    }
    #imgD {
        width: 50vw;
        height: 50vh;
    }
    
    #description > p {
        font-size: 30px;
        line-height: 6vh;
    }
    .skill {
        font-size: 30px;
    }
    #seeP, #back {
        width: 15vw;
        height: 7vh;
    }
    #git_f, #yt_f {
        width: 7vw;
    }
    #no {
        font-size: 20px;
    }
}

@media only screen and (min-width: 1920px) {
    #hThree {
        width: 50vw;
    }
    #button1 {
        width: 17vw;
        height: 6vh;
    }
    #imgD {
        width: 40vw;
    }
    #description {
        width: 70vw;
    }
    #description > p {
        font-size: 20px;
        line-height: 5vh;
    }
    #skills{
        width: 70vw;
    }
    .skill {
        width: 13vw;
        font-size: 22px;
        word-break: break-all;
    }
    #git_f, #yt_f {
        width: 5vw;
    }
    #git_f:hover {
        width: 5.3vw;
    }
    #yt_f:hover {
        width: 5.3vw;
    }
}